/* global */

body *{
    font-family: sans-serif;
}

@media screen and (max-width: 1199px) {
    .responsive-title > h1,h4,p {
        display: inline-block;
    }

    .responsive-title > h1 {
        font-size: 3em;
    }

    .responsive-title > h4 {
        font-size: 1.5em;
    }

    .responsive-title > p {
        font-size: .75em;
    }
}

@media screen and (min-width: 1200px) {
    .responsive-title > h1,h4,p {
        display: inline;
    }
}

.white-text{
    color: #fff;
}

.blue-text{
    color: #05f;
}

.bold-text{
    font-weight: bold;
}

main{

}

#landing{
    background: url(images/backgrounds/background.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

footer{
    background-color: #232323;
    color: #fff;
    padding: 50px 0 50px 0;
}